.nav-img {
    width: 75px;
    height: 75px;
}

button:hover {
    background-color: green;
}

.bg-primary {
    background-color: RGBA(220, 220, 220, var(--bs-bg-opacity, 1)) !important;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.card {
    margin: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  
  .card-img-top {
    height: 25rem;
    object-fit: cover;
  }
  
  .card-body {
    padding: 1rem;
  }
  
  .card-body a {
    text-decoration: none;
  }
  
  .card:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .logotext {
    font-size: 24px;
    color: green;
  }